.secondary,
.primary {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  width: fit-content;
  box-shadow: 0px 1px 2px 0px #0000000f;
  box-shadow: 0px 1px 3px 0px #0000001a;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s ease;
  background-color: #fff;
}

.secondary:hover {
  background: #fafafa;
  border: 1px solid #e5e5e5 !important;
}

.primary {
  border: 1px solid #4338ca;
  background-color: #4338ca;
  color: #fff;
}

.primary:hover {
  background: #3730a3;
  border: 1px solid #e5e5e5 !important;
}

.primary:disabled,
.secondary:disabled {
  background: #f5f5f5;
  color: #a3a3a3;
  cursor: not-allowed;
  opacity: 0.65;
  border: 1px solid #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .secondary,
  .primary {
    padding: 8px 12px;
    font-size: 14px;
  }
}
